[submodule "run"]
	path = run
	url = https://github.com/syamilisn/run.git
[submodule "A3_Kernels/B1_Modules/run"]
	path = A3_Kernels/B1_Modules/run
	url = https://github.com/syamilisn/run.git
[submodule "script"]
	path = script
	url = https://github.com/syamilisn/script.git
[submodule "Java/Practice/script"]
	path = Java/Practice/script
	url = https://github.com/syamilisn/script.git
[submodule "Kaiwan/Linux-Kernel-Programming"]
	path = Kaiwan/Linux-Kernel-Programming
	url = https://github.com/PacktPublishing/Linux-Kernel-Programming.git
[submodule "Kaiwan/Linux-Kernel-Programming-Part-2"]
	path = Kaiwan/Linux-Kernel-Programming-Part-2
	url = https://github.com/PacktPublishing/Linux-Kernel-Programming-Part-2.git
[submodule "Kaiwan/Linux-Kernel-Debugging"]
	path = Kaiwan/Linux-Kernel-Debugging
	url = https://github.com/PacktPublishing/Linux-Kernel-Debugging.git
[submodule "LDD_johnathan"]
	path = LDD_johnathan
	url = https://resources.oreilly.com/examples/9780596005900.git
